body{
    background-color: rgb(246, 217, 253);
}

nav .brand-logo{
    font-size: 1.5rem;
}

.delete{
    float: right;
}

#delete_confirm{
    float: left;
}

#cancel{
    float:right;
}

/* Resolves overflow issue with Galaxy S10e and phones with smaller screens */
@media (max-width:360px){
    nav .brand-logo{
        font-size: 1.3rem;
    }
  }