{% extends "base.html" %}
{% block content %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<div class="row">
    <form class="col s12 m6 offset-m2" method="POST" action="{{ url_for('login') }}">
      <div class="card purple darken-1">
        <div class="card-content white-text">
            <span class="card-title">Login</span>
          <p>Login to your account to add additional terms and their meanings or edit your entries</p>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix light-grey-text text-darken-4">account_circle</i>
                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix light-grey-text text-darken-4">password</i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s12 btn-large purple darken-2 text-shadow">
                    Login
                </button>
            </div>
          
        </div>
        <div class="card-action">
          <!--<a href="#">This is a link</a>
          <a href="#">This is a link</a>-->
        </div>
      </div>
    </form>
  </div>

{% endblock %}